In [ ]:
#understanding the range function usage

In [ ]:
#syntax ## range(startvalue,stopvalue,stepunit)

In [1]:
for x in range(1,20):
    print(x)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [ ]:
#note in the above output 20 is not printed as in the range function he stopvalue is exclusive

In [ ]:
#print a list of numbers from 1 to 30

In [3]:
numbers=list(range(1,30))
print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29]

In [ ]:
#print only even numbers between 1 to 20

In [6]:
even_numbers=list(range(2,20,2))
print(even_numbers)

[2, 4, 6, 8, 10, 12, 14, 16, 18]

In [5]:
type(numbers)

list

In [ ]:
#print odd numbers between 1 to 30

In [7]:
odd_numbers=list(range(1,30,2))
print(odd_numbers)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29]

In [ ]:
#introduction to conditioal statement in python

In [ ]:
#if else condition:

In [ ]:
#print the list of the cars by using a for loop but print maruti in capitals and remaining others i =n title

In [24]:
cars=['audi','bmw','benz','toyota','maruti']
for x in cars:
    if(x=='maruti'):
        print(x.upper())
    else:
        print(x.title())

Audi
Bmw
Benz
Toyota
MARUTI

In [ ]:
#nested if

In [ ]:
#Entry ticket for a park
for children 0 to 4 its free
for 4 to 10 its 10 Rupees
for remaining all others above 10 years it is 15 years

In [27]:
childrenage=30
if childrenage <=4:
    print("Free ticket")
elif childrenage <=10:
    print("10 Rupees is the entry fee")
else:
    print("15 Rupees is the entry fee")

15 Rupees is the entry fee